<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148781460388-2boijikh5g1sjc2879bs0n17umvaval7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148781460388-2boijikh5g1sjc2879bs0n17umvaval7</string>
	<key>API_KEY</key>
	<string>AIzaSyCfygZdtIjBM2GM4PDqhulhRJwtyrsvEVo</string>
	<key>GCM_SENDER_ID</key>
	<string>148781460388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renatomateusx.LoginRxSwiftVSDelegate</string>
	<key>PROJECT_ID</key>
	<string>instafeatures-e9ee7</string>
	<key>STORAGE_BUCKET</key>
	<string>instafeatures-e9ee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148781460388:ios:51b9810abdb10d6e142f31</string>
	<key>DATABASE_URL</key>
	<string>https://instafeatures-e9ee7-default-rtdb.firebaseio.com</string>
</dict>
</plist>